{% extends "templates/public_template.html" %}

{% block title %}Upload{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>Upload a file</h1>
            <hr>

            <form action="{{url_for('create')}}" method="POST" enctype="multipart/form-data">

                <label for="user_file">Upload Your File</label>
                <br>
                <input type="file" name="user_file">
                <br>
                <button type="submit">Upload</button>

            </form>


        </div>
    </div>
</div>

{% endblock %}