{% extends "templates/public_template.html" %}

{% block title %}PhenomeTools-FieldMapConverter{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>Field map converter</h1>
            <hr>

            <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Convert 2-Dimensional map to a list of plots ready for upload into PhenomeOne</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="file" id="file-upload">
                        <label class="custom-file-label" for="file-upload">Drag or Select file (xlsx, xls,
                            csv)..</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Convert and Download</button>

                <a href="{{url_for('static', filename='example_map.xlsx')}}" class="btn btn-primary"
                    download="example_file">Example map</a>

                <script>
                    $('#file-upload').on('change', function () {
                        //get the file name
                        var fileName = $(this).val();
                        var cleanFileName = fileName.replace('C:\\fakepath\\', " ");
                        //replace the "Choose a file" label
                        $(this).next('.custom-file-label').html(cleanFileName);
                    })
                </script>

            </form>

        </div>
    </div>
</div>
<div>
    <div class="aligncenter">
        <center><img src="{{url_for('static', filename='img/ilustrate.png')}}" alt="Convert your field map" ,
                style="width:70%; padding-top: 30px;"></center>
    </div>

    {% endblock %}