{% extends "templates/public_template.html" %}

{% block title %}PhenomeTools-Match variables{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>Prepare file for upload</h1>
            <hr>

            <form action="/prepare-file" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Upload your file here and fix the headers to match with your Phenome variables names</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="file" id="file-upload">
                        <label class="custom-file-label" for="file-upload">Drag or Select variables file (xlsx, xls,
                            csv)..</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Preview</button>

                <!-- <a href="{{url_for('static', filename='example_variable_list.xlsx')}}" class="btn btn-primary"
                    download="example_variable_list">Example variable list</a> -->

                <script>
                    $('#file-upload').on('change', function () {
                        //get the file name
                        var fileName = $(this).val();
                        var cleanFileName = fileName.replace('C:\\fakepath\\', " ");
                        //replace the "Choose a file" label
                        $(this).next('.custom-file-label').html(cleanFileName);
                    })
                </script>
                

            </form>
        </div>
    </div>
</div>


    {% endblock %}